@font-face {
   font-family: 'Thulth Bold Italic';
   font-display: swap;
   src: url('file:///C:/Users/al-zahraa/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-20_180202/fonts/Thulth%20Bold%20Italic/font.ttf');
}
